.order-new-container {
  .order-form {
    .more-info {
      display: flex;
      flex-direction: column;
      margin: 32px 0;
      h2 {
        text-align: center;
        margin-bottom: 32px;
      }
      form {
        margin: 0 auto;
        width: 100%;
        .first-last, .code-city {
          display: flex;
          justify-content: space-between;
          .form-group {
            width: 49%;
          }
        }
      }
    }
    .cart-checkout {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 560px;
      margin: 0 auto;
      h2 {
        text-align: center;
      }
      .checkout-total {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-between;
        padding: 24px 16px 24px 0;
        margin: 48px 0;
        span {
          font-size: 1.5rem;
        }
      }
      .cta-primary {
        align-self: center;
        width: 240px;
      }
    }

  }
}

@media all and (min-width: 768px) {
  .order-new-container {
    .order-form {
      .more-info {
        form {
          min-width: 480px;
          max-width: 560px;
        }
      }
    }
  }
}


@media all and (min-width: 992px) {
  .order-new-container {
    .order-form {
      display: flex;
      .more-info {
        flex-grow: 1;
        margin-bottom: unset;
        h2 {
          margin-bottom: 0.5rem;;
        }
        form {
          padding: 1em 0;
        }
      }
      .cart-checkout {
        padding: 0 64px 0 0;
        width: 35%;
        margin: 32px 0;
        .checkout-total {
          padding: 48px 0;
          margin: 56px 0;
        }
      }
    }
  }
}
