

.product-photo-show {
  border-radius: 2px;
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 500px;
  margin-right: 100px;
}

.product-info-show {

  h1:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
  }
}


.product-container {
  .admin-options {
    padding: 16px 32px;
  }
  .product-presentation {
    display: flex;
    padding: 16px 32px;
    flex-direction: row;
    .images {
      display: flex;
      width: 100%;
      align-items: center;
      .main-image {
        img {
          width: 100%;
          height: unset;
        }
      }
      .all-images {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        img {
          margin: 16px 0px 0px 20px;
        }
      }
    }
    .content {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0px 0px 0px 50px;
      h2 {
        margin: 2rem 0;
      }
      .cta-primary {
        margin: 2rem 0;
      }
      .not-available {
        .amount {
          text-decoration: line-through;
        }
        .sold-out {
          font-size: 1.5rem;
          margin: 2rem 0;
          color: $my-pink;
        }
      }
    }
  }
  // .other-products {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   margin-top: 32px;
  //   h3 {
  //     text-transform: uppercase;
  //     margin-bottom: 2rem;
  //   }
  //   .products {
  //     width: 100%;
  //     display: grid;
  //     grid-template-columns: 1fr 1fr 1fr;
  //     grid-gap: 16px;
  //     a {
  //       position: relative;
  //       padding-top: 100%;
  //       img {
  //         width: 100%;
  //         object-fit: cover;
  //         height: unset;
  //         position: absolute;
  //         top: 0;
  //         left: 0;
  //       }
  //     }
  //   }
  // }
}

// @media all and (min-width: 576px) {
//   .product-container {
//     .product-presentation {
//       padding: 16px 32px;
//       .images {
//         flex-direction: row;
//         padding: 0 0 16px;
//         .main-image {
//           position: relative;
//           padding-top: calc(100% - 132px);;
//           flex-grow: 1;
//           img {
//             position: absolute;
//             top: 0;
//             left: 0;
//           }
//         }
//         .all-images {
//           grid-template-columns: 1fr;
//           grid-template-rows: repeat(5, 100px);
//           padding: 0 16px;
//           max-height: calc((100vw - 96px - 132px - 132px) / 2);
//         }
//       }
//       .content {
//         padding: 32px 0;
//         .trix-content {
//           width: 80%;
//         }
//         .cta-primary {
//           margin: 2rem 0 0;
//         }
//       }
//     }
//     .other-products {
//       .products {
//         padding: 16px;
//         grid-gap: 32px;
//       }
//     }
//   }
// }

// @media all and (min-width: 768px) {
//   .product-container {
//     .product-presentation {
//       flex-direction: row;
//       .images {
//         width: 50%;
//         flex-direction: column;
//         padding: 0;
//         margin-right: 16px;
//         .main-image {
//           padding-top: 100%;
//           flex-grow: unset;
//         }
//         .all-images {
//           grid-template-columns: repeat(5, 1fr);
//           grid-template-rows: unset;
//           grid-gap: 10px;
//           padding: 16px 0;
//         }
//       }
//       .content {
//         margin-left: 16px;
//         width: 50%;
//       }
//     }
//   }
// }

// @media all and (min-width: 992px) {
//   .product-container {
//     .product-presentation {
//       .images {
//         flex-direction: row;
//         margin-right: unset;
//         .main-image {
//           flex-grow: 1;
//         }
//         .all-images {
//           grid-template-columns: 1fr;
//           grid-template-rows: repeat(5, 100px);
//           padding: 0 16px;
//           max-height: calc((100vw - 96px - 132px - 132px) / 2);
//         }
//       }
//       .content {
//         margin-left: unset;
//       }
//     }
//   }
// }
