.products-container {
  display: flex;
  flex-direction: column;
}

.product-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.order-new-container {
  display: flex;
  padding: 32px 16px;
  justify-content: center;
}
