<div>
  <% @products.each do |product| %>
    <h1><%= product.name %></h1>
    <h1><%= product.price %></h1>
    <h1><%= product.category.name %></h1>
    <h1><%= product.size %></h1>
  <% end %>
</div>
